
- if @object && @course 

  .course_details
    %h1= safe @course.title
    %h2= safe @course.description
    
  %hr
  .lecture
    %h3= safe @object.title
    %h4= safe @object.description
    .content
      = safe @object.content
      
    - if @object.quiz
      .links
        = link_to "take the quiz &raquo;".html_safe, "/school/#{@object.quiz.id}/quiz"
      
  
- else
  %h1.error= "Course Not Found..."
  %p= "/school/#{@id}"